In [125]:
import numpy as np
import pandas as pd

In [126]:
data = pd.read_csv('Covid19.csv')

# Data Cleaning Process

In [127]:
data.head(2)
# avg_stringency -> is the strict government policy Range from [0-100] = [low->High].
# avg_mobility -> movements from people -ve means low movement %, +ve means high movement %.

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility
0,Afghanistan,2020,1,0.0,0.0,NaN,NaN,549583.0,502.0,105925.0,0.00000,NaN
1,Afghanistan,2020,2,5.0,0.0,NaN,NaN,495557.0,502.0,105925.0,2.01069,0.266667

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5904 entries, 0 to 5903
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    5904 non-null   object
 1   year            5904 non-null   int64
 2   month           5904 non-null   int64
 3   confirmed       5562 non-null   float64
 4   deaths          5562 non-null   float64
 5   tests           2599 non-null   float64
 6   vaccinations    2266 non-null   float64
 7   population      5880 non-null   float64
 8   gdp_per_capita  4872 non-null   float64
 9   elderly_pop     5640 non-null   float64
 10  avg_stringency  4440 non-null   float64
 11  avg_mobility    2954 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 553.6+ KB

In [129]:
data.sample(5)

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility
5563,United Kingdom,2021,8,7007010.0,133898.0,270954409.0,90997895.0,5454238.0,39176.0,266703.0,37.529355,-5.980812
4473,Saint Lucia,2020,10,84.0,0.0,NaN,NaN,183629.0,11611.0,4415.0,NaN,NaN
3779,Nicaragua,2020,12,4829.0,165.0,NaN,NaN,6624554.0,1912.0,76184.0,8.330000,-1.931818
477,Belarus,2021,10,602058.0,4646.0,9652240.0,4766181.0,9449321.0,6663.0,368443.0,19.440000,-12.806452
3732,New Caledonia,2021,1,47.0,0.0,NaN,NaN,285491.0,NaN,4419.0,NaN,NaN

In [130]:
data[data['confirmed'].isnull()]['country_name'].unique()

array(['Antarctica', 'Bouvet Island', 'British Indian Ocean Territory',
       'Caribbean Netherlands', 'Christmas Island', 'Cocos Islands',
       'French Southern Territories', 'Heard Island and McDonald Islands',
       'Macau', 'Netherlands Antilles', 'Norfolk Island',
       'South Georgia and the South Sandwich Islands',
       'Svalbard and Jan Mayen', 'United States Minor Outlying Islands',
       'Western Sahara'], dtype=object)

In [131]:
data_cleaned = data[~data['country_name'].isin(['Antarctica', 'Bouvet Island', 'British Indian Ocean Territory',
       'Caribbean Netherlands', 'Christmas Island', 'Cocos Islands',
       'French Southern Territories', 'Heard Island and McDonald Islands', 'Netherlands Antilles', 'Norfolk Island',
       'South Georgia and the South Sandwich Islands',
       'Svalbard and Jan Mayen', 'United States Minor Outlying Islands',
       'Western Sahara'])]

In [132]:
data_cleaned

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility
0,Afghanistan,2020,1,0.0,0.0,NaN,NaN,549583.0,502.0,105925.0,0.000000,NaN
1,Afghanistan,2020,2,5.0,0.0,NaN,NaN,495557.0,502.0,105925.0,2.010690,0.266667
2,Afghanistan,2020,3,235.0,4.0,NaN,NaN,38928341.0,502.0,105925.0,40.831935,-8.838710
3,Afghanistan,2020,4,2469.0,72.0,NaN,NaN,1509183.0,502.0,105925.0,80.740000,-44.366667
4,Afghanistan,2020,5,16578.0,274.0,NaN,NaN,1509183.0,502.0,105925.0,84.260000,-39.222222
...,...,...,...,...,...,...,...,...,...,...,...,...
5899,Zimbabwe,2021,8,124960.0,4438.0,1142911.0,4219824.0,14862927.0,1463.0,62661.0,73.865484,31.645161
5900,Zimbabwe,2021,9,131028.0,4624.0,1273779.0,5346026.0,14862927.0,1463.0,62661.0,62.809333,52.000000
5901,Zimbabwe,2021,10,133007.0,4679.0,1375479.0,5911588.0,14862927.0,1463.0,62661.0,46.412903,60.483871
5902,Zimbabwe,2021,11,135337.0,4707.0,1464011.0,6611942.0,14862927.0,1463.0,62661.0,52.471000,58.300000
5903,Zimbabwe,2021,12,214214.0,5017.0,1710825.0,7264791.0,14862927.0,1463.0,62661.0,59.947742,59.451613

In [133]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5568 entries, 0 to 5903
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    5568 non-null   object
 1   year            5568 non-null   int64
 2   month           5568 non-null   int64
 3   confirmed       5562 non-null   float64
 4   deaths          5562 non-null   float64
 5   tests           2599 non-null   float64
 6   vaccinations    2264 non-null   float64
 7   population      5568 non-null   float64
 8   gdp_per_capita  4872 non-null   float64
 9   elderly_pop     5496 non-null   float64
 10  avg_stringency  4440 non-null   float64
 11  avg_mobility    2954 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 565.5+ KB

In [134]:
data_cleaned = data_cleaned.fillna(0)

In [135]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5568 entries, 0 to 5903
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    5568 non-null   object
 1   year            5568 non-null   int64
 2   month           5568 non-null   int64
 3   confirmed       5568 non-null   float64
 4   deaths          5568 non-null   float64
 5   tests           5568 non-null   float64
 6   vaccinations    5568 non-null   float64
 7   population      5568 non-null   float64
 8   gdp_per_capita  5568 non-null   float64
 9   elderly_pop     5568 non-null   float64
 10  avg_stringency  5568 non-null   float64
 11  avg_mobility    5568 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 565.5+ KB

In [136]:
data_cleaned['confirmed'] = data_cleaned['confirmed'].astype('int32')

In [137]:
data_cleaned['deaths'] = data_cleaned['deaths'].astype('int32')

In [138]:
data_cleaned['tests'] = data_cleaned['tests'].astype('int32')

In [139]:
data_cleaned['vaccinations'] = data_cleaned['vaccinations'].astype('int32')

In [140]:
data_cleaned['elderly_pop'] = data_cleaned['elderly_pop'].astype('int32')

In [141]:
data_cleaned['population'] = data_cleaned['population'].astype('int32')

In [143]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5568 entries, 0 to 5903
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    5568 non-null   object
 1   year            5568 non-null   int64
 2   month           5568 non-null   int64
 3   confirmed       5568 non-null   int32
 4   deaths          5568 non-null   int32
 5   tests           5568 non-null   int32
 6   vaccinations    5568 non-null   int32
 7   population      5568 non-null   int32
 8   gdp_per_capita  5568 non-null   float64
 9   elderly_pop     5568 non-null   int32
 10  avg_stringency  5568 non-null   float64
 11  avg_mobility    5568 non-null   float64
dtypes: float64(3), int32(6), int64(2), object(1)
memory usage: 435.0+ KB

In [145]:
data_cleaned.head(5)

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222

In [146]:
data_cleaned['infection_rate'] = (data_cleaned['confirmed']/data_cleaned['population'])*100

In [148]:
data_cleaned['positivity_rate'] = (data['confirmed']/data['tests'])*100
data_cleaned.sample(5)

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate
3797,Niger,2020,6,1075,91,0,0,24206636,554.0,54861,25.930,2.533333,0.004441,NaN
1341,Cyprus,2021,10,124725,592,14887713,1215697,875899,28674.0,32013,56.480,0.000000,14.239655,0.837771
3288,Mauritania,2020,1,1,149,0,0,4649660,1677.0,18555,0.000,0.000000,0.000022,NaN
2140,Guernsey,2020,5,252,16,0,0,63276,0.0,3243,0.000,0.000000,0.398255,NaN
3296,Mauritania,2020,9,7505,308,80362,0,4649660,1677.0,18555,23.799,0.000000,0.161410,9.338991

In [154]:
data_cleaned['positivity_rate'] = data_cleaned['positivity_rate'].fillna(0)

In [155]:
data_cleaned

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000,0.000000,0.000000
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667,0.001009,0.000000
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710,0.000604,0.000000
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667,0.163598,0.000000
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222,1.098475,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5899,Zimbabwe,2021,8,124960,4438,1142911,4219824,14862927,1463.0,62661,73.865484,31.645161,0.840750,10.933485
5900,Zimbabwe,2021,9,131028,4624,1273779,5346026,14862927,1463.0,62661,62.809333,52.000000,0.881576,10.286557
5901,Zimbabwe,2021,10,133007,4679,1375479,5911588,14862927,1463.0,62661,46.412903,60.483871,0.894891,9.669868
5902,Zimbabwe,2021,11,135337,4707,1464011,6611942,14862927,1463.0,62661,52.471000,58.300000,0.910568,9.244261
5903,Zimbabwe,2021,12,214214,5017,1710825,7264791,14862927,1463.0,62661,59.947742,59.451613,1.441264,12.521094

In [157]:
data_cleaned['date'] = pd.to_datetime(data_cleaned['year'].astype('str') + '-' + data_cleaned['month'].astype('str') + '-01')

In [158]:
data_cleaned

,country_name,year,month,confirmed,deaths,tests,vaccinations,population,gdp_per_capita,elderly_pop,avg_stringency,avg_mobility,infection_rate,positivity_rate,date
0,Afghanistan,2020,1,0,0,0,0,549583,502.0,105925,0.000000,0.000000,0.000000,0.000000,2020-01-01
1,Afghanistan,2020,2,5,0,0,0,495557,502.0,105925,2.010690,0.266667,0.001009,0.000000,2020-02-01
2,Afghanistan,2020,3,235,4,0,0,38928341,502.0,105925,40.831935,-8.838710,0.000604,0.000000,2020-03-01
3,Afghanistan,2020,4,2469,72,0,0,1509183,502.0,105925,80.740000,-44.366667,0.163598,0.000000,2020-04-01
4,Afghanistan,2020,5,16578,274,0,0,1509183,502.0,105925,84.260000,-39.222222,1.098475,0.000000,2020-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5899,Zimbabwe,2021,8,124960,4438,1142911,4219824,14862927,1463.0,62661,73.865484,31.645161,0.840750,10.933485,2021-08-01
5900,Zimbabwe,2021,9,131028,4624,1273779,5346026,14862927,1463.0,62661,62.809333,52.000000,0.881576,10.286557,2021-09-01
5901,Zimbabwe,2021,10,133007,4679,1375479,5911588,14862927,1463.0,62661,46.412903,60.483871,0.894891,9.669868,2021-10-01
5902,Zimbabwe,2021,11,135337,4707,1464011,6611942,14862927,1463.0,62661,52.471000,58.300000,0.910568,9.244261,2021-11-01
5903,Zimbabwe,2021,12,214214,5017,1710825,7264791,14862927,1463.0,62661,59.947742,59.451613,1.441264,12.521094,2021-12-01

In [161]:
data_cleaned.to_csv("covid19_cleaned_data.csv", index=False)